@page
@model VaII.Pages.Posts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-center">Create Post</h1>


<hr />
<div class="container border d-flex justify-content-center " style="padding: 20px">
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="padding: 10px">
                <label asp-for="Post.Title" class="control-label"></label>
                <input type="text" asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
                <div class="form-group" style="padding: 10px">
                <label asp-for="Post.Description" class="control-label " ></label>
                <input  asp-for="Post.Description" class="form-control" />
                <span asp-validation-for="Post.Description" class="text-danger"></span>
            </div>
                
            <div class="form-group" style="padding: 10px">
                <label asp-for="Post.Latest" class="control-label"></label>
                <input asp-for="Post.Latest" class="form-control" />
                <span asp-validation-for="Post.Latest" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding: 10px">
                <label asp-for="FileUpload.FormFile" class="control-label"></label>
                    <input type="file" asp-for="FileUpload.FormFile" class="form-control" />
                    <span asp-validation-for="FileUpload.FormFile" class="text-danger"></span>
            </div>
                <div class="form-group form-check text-center" style="padding: 10px">
                    <label class="form-check-label ">
                        <input class="form-check-input" asp-for="Post.Published" /> @Html.DisplayNameFor(model => model.Post.Published)
                    </label>
                </div>

                <div class="form-group d-flex justify-content-center" style="padding: 10px">
                    <input type="submit" value="Create" class="btn btn-primary gap-2 col-6 mx-auto" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
