@page
@using VaII_Sem.Models
@model VaII.Pages.Posts.EditModel
@using System.Web.Helpers;


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-center">Edit</h1>

<h4 class="text-center">Post</h4>

<div class="container border d-flex justify-content-center " style="padding: 20px">
    <div class="row">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Post.ID" />
                <div class="form-group" style="padding: 10px">
                    <label asp-for="Post.Title" class="control-label"></label>
                    <input type="text" asp-for="Post.Title" class="form-control" />
                    <span asp-validation-for="Post.Title" class="text-danger"></span>
                </div>
                <div class="form-group" style="padding: 10px">
                    <label asp-for="Post.Description" class="control-label "></label>
                    <textarea asp-for="Post.Description" class="form-control" rows="5" ></textarea>
                    <span asp-validation-for="Post.Description" class="text-danger"></span>
                </div>

                <div class="form-group" style="padding: 10px">
                    <div class="form-group" style="padding: 10px">
                        <label asp-for="Location.Country" class="control-label "></label>
                        <input type="text" asp-for="Location.Country" class="form-control"></input>
                        <span asp-validation-for="Location.Country" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding: 10px">
                        <label asp-for="Location.Place" class="control-label "></label>
                        <input type="text" asp-for="Location.Place" class="form-control"></input>
                        <span asp-validation-for="Location.Place" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group" style="padding: 10px">
                    <div class="form-group" style="padding: 10px">
                        <label asp-for="AdvancedSettings.DateShot" class="control-label"></label>
                        <input type="date" asp-for="AdvancedSettings.DateShot" class="form-control" placeholder="Optional"></input>
                        <span asp-validation-for="AdvancedSettings.DateShot" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding: 10px">
                        <label asp-for="AdvancedSettings.ShutterSpeed" class="control-label "></label>
                        <input type="text" asp-for="AdvancedSettings.ShutterSpeed" class="form-control" placeholder="Optional"></input>
                        <span asp-validation-for="AdvancedSettings.ShutterSpeed" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group" style="padding: 10px">
                    <div class="form-group" style="padding: 10px">
                        <label asp-for="AdvancedSettings.Aperture" class="control-label "></label>
                        <input type="text" asp-for="AdvancedSettings.Aperture" class="form-control" placeholder="Optional"></input>
                        <span asp-validation-for="AdvancedSettings.Aperture" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding: 10px">
                        <label asp-for="AdvancedSettings.ISOSensitivity" class="control-label "></label>
                        <input type="text" asp-for="AdvancedSettings.ISOSensitivity" class="form-control" placeholder="Optional"></input>
                        <span asp-validation-for="AdvancedSettings.ISOSensitivity" class="text-danger"></span>
                    </div>

                </div>
                
                <div class="form-group" style="padding: 10px">
                    <label asp-for="FileUpload.FormFile" class="control-label"></label>
                    <input type="file" asp-for="FileUpload.FormFile" class="form-control" accept="image/*" />
                    <span asp-validation-for="FileUpload.FormFile" class="text-danger"></span>
                </div>

                <div class="form-group form-check text-center" style="padding: 10px">
                    <label class="form-check-label ">
                        <input class="form-check-input" asp-for="Post.Published" /> 
                        @Html.DisplayNameFor(model => model.Post.Published)
                    </label>
                </div>
               

                <div class="form-group d-flex justify-content-center" style="padding: 10px">
                    <input type="submit" value="Edit" class="btn btn-primary gap-2 col-6 mx-auto" />
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h5 style="padding: 10px">Thumbnail</h5>
          
                @{

                    if (Model.Post.Content != null)
                    {
                        WebImage photo = new WebImage(Model.Post.Content);
                        photo.Resize(400, 400, true, true);
                        var thumbnail = photo.GetBytes();


                    <div style="padding: 10px">
                        <img class="mx-auto d-block" src="data:image;base64,@System.Convert.ToBase64String(thumbnail)" />
                        </div>
                    }
                }
          
        </div>
    </div>

      
   
</div>


<div class="text-center">
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
