@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1 class="text-center">@ViewData["Title"]</h1>


<h4 class="fw-bold text-center">Čo to bude?</h4>
<div class="container border d-flex justify-content-center" style="padding: 20px">
<p class="text-center">
    Jednoduchá sociálna sieť na zdieľanie fotiek. Fotky budú na profiloch užívateľov vo forme galérie. Fotky budú len náhlady fotiek a až po rozliknutí fotky
    bude v plnej kvalite s popisom. Spracovanie fotiek bude na serveri. Bude možné nahrať fotky, ktoré obsahujú meta dáta o nastavení daného foťaku pri danej fotke (uzávierka, clona, ...)
    ako napríklad má Nikon .NEF alebo ich ručne zadať.
</p>

</div>



