@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <img alt="Boat on Calm Water"
                 class="w-100"
                 src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />

            <img alt="Wintry Mountain Landscape"
                 class="w-100"
                 src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp" />
        </div>

        <div class="col-lg-4">
            <img alt="Mountains in the Clouds"
                 class="w-100"
                 src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp" />

            <img alt="Boat on Calm Water"
                 class="w-100"
                 src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
        </div>

        <div class="col-lg-4">
            <img alt="Waves at Sea"
                 class="w-100"
                 src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp" />

            <img alt="Yosemite National Park"
                 class="w-100"
                 src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp" />
        </div>
    </div>
</div>