@page "/"
@model IndexModel
@using System.Web.Helpers;
@{
    ViewData["Title"] = "Home page";
}



<div class="container-fluid">

    @foreach (var item in Model.Post)
    {
        
            if (item.Content != null)
            {
                WebImage photo = new WebImage(item.Content);
                photo.Resize(400, 400, true, true);
                var thumbnail = photo.GetBytes();


                <span>
                     <a asp-page="./Posts/Details" asp-route-id="@item.ID">
                     <img class="img-fluid" src="data:image;base64,@System.Convert.ToBase64String(thumbnail)" />
                    </a>
                </span>
            }
        

    }
    

    </div>